body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 30px;
}

.container {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 50px auto;
  padding: 0 0 35px 0;
  max-width: 375px;
}

.content {
  padding: 0 30px;

  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.hero-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.pricing {
  background-color: hsl(225, 100%, 98%);
  padding: 20px 0;
  margin: auto 25px;
  border-radius: 15px;
}

.small-heading {
  margin: 0;
}

.music-icon {
  vertical-align: top;
  margin-right: 10px;
}

.text-pricing {
  margin: 5px 0 0 0;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.heading {
  display: inline-block;
  margin-right: 40px;
}

.change {
  display: inline-block;
  margin-left: 40px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;

}

.change a:hover {
  color: #766cf1;
  text-decoration: none;

}

.cancel {
  margin: 0;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

.button {
  background-color: hsl(245, 75%, 52%);
  color: #ffffff;
  text-decoration: none;
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Red Hat Display', sans-serif;
  width: 90%;
  border-radius: 15px;
  padding: 15px 0;
  margin: 30px 0;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #766cf1;
}
